<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/dropfile.css' />
    <link rel="stylesheet" href='/stylesheets/toggle.css' />
    <link rel="stylesheet" href='/stylesheets/button.css' />
    <link rel="stylesheet" href='/stylesheets/inputnumber.css' />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' />
  </head>
  <body>
    <div class="title">
      <h1 style="margin-bottom: -10px;"><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <form id="form" style="display: flex; flex-direction: column" action="/upload" method="post" enctype="multipart/form-data">
      <div class="drag-container">
        <div id="image-display"></div>
        <input id="file_upload" name="file" type="file" accept="image/*">
        <label for="file_upload" class="label-upload">
          <i class="fa-solid fa-upload"></i>&nbsp; Select or Drop Image
        </label>
        <div id="error"></div>
      </div>
      <br>
      <div class="options">
        <div class="msg">
          <div style="display: flex; flex-direction: column">
            <div>
              <label>
                Resize:
              </label>
              <div class="switch">
                <div class="switch-div">
                    <input id="resize" type="checkbox" name="resize" hidden="hidden">
                    <label for="resize">Toggle</label>
                </div>
              </div>
            </div>
            <div hidden="hidden" id="resize_option" class="content">
              <label for="width">
                <div class="entryarea">
                  <input type="number" min="0" value="0" name="width">
                  <div class="labelline">Width(px)</div>
                </div>
              </label>
              <label for="height">
                <div class="separator">
                  <div class="entryarea">
                    <input type="number" min="0" value="0" name="height">
                    <div class="labelline">Height(px)</div>
                  </div>
                </div>
              </label>
              <label for="fit">
                <div class="separator">
                  Fit:
                <select name="fit_chosen">
                  <option value="cover">Cover</option>
                  <option value="contain">Contain</option>
                  <option value="fill">Fill</option>
                </select>
                </div>
              </label>
            </div>
          </div>
          <div style="display: flex; flex-direction: column">
            <div>
              <label>
                Compressed:
              </label>
              <div class="switch">
                <div class="switch-div">
                  <input type="checkbox" id="compressed" name="compressed" hidden="hidden">
                  <label for="compressed">Toggle</label>
                </div>
              </div>
            </div>
            <div id="compressed_option" hidden="hidden" class="content">
              <label for="compressed_option">
                <div class="entryarea">
                  <input type="number" name="quality" value="10" min="0" max="100">
                  <div class="labelline">Quality</div>
                </div>
              </label>
            </div>
          </div>
          <div style="display: flex; flex-direction: column">
            <div>
              <label>
                Change Mime-type:
              </label>
              <div class="switch">
                <div class="switch-div">
                  <input type="checkbox" id="change_mimetype" name="change_mimetype" hidden="hidden">
                  <label for="change_mimetype">Toggle</label>
                </div>
              </div>
            </div>
            <div id="change_mimetype_option" hidden="hidden" class="content">
              <label for="to_format">
                To Format:
                <select name="to_format">
                  <option value="jpeg">JPEG</option>
                  <option value="png">PNG</option>
                  <option value="webp">WEBP</option>
                  <option value="gif">GIF</option>
                  <option value="tiff">TIFF</option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="submit_button_clicked" name="submit_button_clicked" value="0">
      <div class="separator">
        <div class="wrapper" id="submit_div">
          <div class="link_wrapper">
            <a>Convert!</a>
          </div>
        </div>
      </div>
    </form>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/select_file.js"></script>
  </body>
</html>
